<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Howdy, {{ user.Username }}</h2></mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="card-content">
    <p><b>Username</b>: {{ user.Username }}</p>
    <p><b>Email</b>: {{ user.Email }}</p>
    <p><b>Birth</b> Date: {{ user.BirthDate | date: "MM/dd/yyyy":"UTC" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="float-right"
      mat-raised-button
      color="basic"
      (click)="openEditProfileDialog()"
    >
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="deregisterUser()">
      Delete
    </button>
  </mat-card-actions>
</mat-card>